.button {
    border: none;
    background-color: transparent;
    margin-right: calc(var(--unit) /1);
    color: var(--color-primary);
    padding: 0;
    font-family: var(--font-family-heading);
    text-transform: capitalize;
    cursor: pointer;
    font-size: var(--font-size-small-x);
    transition: transform 0.15s;
}

.button:hover {
    transform: translateY(-2px);
}

.button[data-active="true"] {
    border-bottom: 2px solid var(--color-accent);
    color: var(--color-primary);
}
