---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Categories from "../../components/Categories/Categories";
import ToolsList from "../../components/ToolsList/ToolsList";
import { categoriesList as categories } from "../../data/categories";
import PageLayout from "../../layouts/PageLayout.astro";

// list the category pages for static rendering
export function getStaticPaths() {
    return categories.map((c) => ({
        params: {
            category: c,
        },
    }));
}

let { category } = Astro.params;
category = String(category || categories[0]);
---

<PageLayout content={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}>
    <div class="space-y-8">
        <header>
            <h1 class="text-3xl font-bold tracking-tight mb-4 capitalize">{category} Tools</h1>
            <p class="text-muted-foreground text-lg">Discover {category.toLowerCase()} tools to enhance your workflow.</p>
        </header>
        <Categories {...{ category }} />
        <ToolsList {...{ category }} />
    </div>
</PageLayout>

