---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import Categories from "../../components/Categories/Categories";
import ToolsList from "../../components/ToolsList/ToolsList";
import { categoriesList as categories } from "../../data/categories";
import PageLayout from "../../layouts/PageLayout.astro";

const category = String(categories[0]); // just to be sure
---

<PageLayout content={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}>
    <div class="space-y-8">
        <header>
            <h1 class="text-3xl font-bold tracking-tight mb-4">Developer Tools</h1>
            <p class="text-muted-foreground text-lg">A curated collection of useful tools for developers and designers.</p>
        </header>
        <Categories {...{ category }} />
        <ToolsList {...{ category }} />
    </div>
</PageLayout>

