.categoriesNav {
    max-width: 100vw;
}

.categoriesListStyle {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    gap: var(--unit-sm);
}

.categoriesListItemStyle {
    
    background-color: var(--color-background-light);
    border-radius: var(--unit-sm);
    text-transform: capitalize;
    font-family: var(--font-family-heading);
    cursor: pointer;
    display: inline-block;
}

.categoriesListItemStyle:hover {
    background-color: var(--color-background-highlight);
}

.categoriesListItemStyle[data-is-selected="true"] {
    background-color: var(--color-background-dark);
}

.linkElement {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: var(--unit-sm);
    border-radius: var(--unit-sm);
}

.linkElement:hover {
    color: var(--color-text-primary);
}

.categoriesListItemStyle[data-is-selected="true"] .linkElement {
    color: var(--color-text-primary);
}