.articleItem:hover h2 {
    text-decoration: underline;
}

.articleHeader {
    overflow: hidden;
    margin-top: var(--unit);
}

.articleHeader h2 {
    font-weight: normal;
    line-height: 1.2em;
    /* color: var(--color-primary); */
    color: #333333;
    margin: 0;
    font-size: var(--font-size-large);
    font-family: var(--font-family-header);
    font-weight: 700;
}

.articleHeader[data-draft="true"] h2 {
    color: silver;
}

.draft {
    margin-left: var(--unit);
    font-size: 0.5em;
    text-transform: uppercase;
}

/* The header shown when in the article
 * This is written this way because of 
 * line 25 in article.module.css
 */
.articleItem .articleHeaderh1 {
    font-size: var(--font-size-large-xx);
    font-weight: 700;
    margin-bottom: 0;
    font-family: var(--font-family-header);
}

.articleHeaderSummary {
    margin-bottom: var(--unit);
    font-size: var(--font-size-small);
    margin-top: calc(var(--unit) / 2);
    color: var(--color-text-1);
}

.articleHeaderSummary p {
    line-height: 1.33em;
    margin: 0;
    font-family: var(--font-family-text-2);
    font-size: var(--font-size-small);
    opacity: 0.85;
    transition: opacity 0.5s;
}

.articleItem:hover .articleHeaderSummary p {
    opacity: 1;
}

.articleHeaderMetaDetails {
    margin-top: calc(var(--unit) / 2);
    color: var(--color-text-1);
    font-size: var(--font-size-small-x);
    display: flex;
    place-items: center;
}

.articleHeaderMetaDetails span {
    margin-right: var(--unit);
    font-size: var(--font-size-small-x);
    text-transform: uppercase;
    opacity: 0.45;
    font-family: var(--font-family-meta);
}

.readButton {
    /* border: 1px solid var(--color-primary-dark); */
    border: none;
    text-transform: uppercase;
    font-size: var(--font-size-small-x);
    border-radius: calc(var(--unit) / 6);
    background-color: transparent;
    opacity: 0.45;
    transition: color 0.5s, opacity 0.5s;
    margin-left: auto;
}

.articleItem:hover .readButton {
    color: var(--color-accent);
    opacity: 1;
}
