---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                min-height: calc(100vh - (56px + 8rem));
                display: flex;
                place-content: center;
                place-items: center;
            }
            article {
                max-width: 30rem;
                font-size: 1.5rem;
                line-height: 2.6rem;
            }

            @media (max-width: 500px) {
                article {
                    font-size: 1.25rem;
                    line-height: 2rem;
                }
            }

            article strong {
                font-weight: 800;
            }

            article a {
                text-decoration: underline;
            }
        </style>
    </head>

    <body class="p-4">
        <Header />
        <main>
            <article>
                <h1>Hi,</h1>
                <p>
                    I’m a former consultant, iOS developer, now fully focussing
                    on Frontend web development. <strong
                        >I primarily use ReactJS</strong
                    > but have built tools with SvelteKit, VueJS, etc.
                </p>
                <p>
                    Occasionally I will dive into the backend with some NodeJS
                    as necessary.
                </p>
                <p>
                    If you’d like to reach out, I’m shying away from twitter and
                    instead you can find me on <a
                        href="https://mastodon.social/@giwan"
                        target="_blank"
                        rel="noopener noreferrer">mastodon.social/@giwan</a
                    >
                </p>
            </article>
        </main>
        <Footer />
    </body>
</html>
