---
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<PageLayout content={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}>
    <div class="flex justify-center items-center py-16">
        <div class="prose prose-lg max-w-prose dark:prose-invert">
            <h1>Hi, I'm Giwan.</h1>
            <p>
                I'm a senior frontend developer who likes to build. 
                This is just one of the side projects I spend time on. 
                My primary side project is <a href="https://mytoori.com" target="_blank" class="text-primary hover:text-primary/80 underline">Mytoori.com</a>. 
                I grep up speaking both English, at home, and Dutch, at school. Later I traveled quite a bit for work. I picked up and can get by in a few other languages. German is close enough to Dutch so I cheat a bit there. I spent a year living in France but also lost a lot of my fluency when I left. I'm currently learning and struggling with Portuguese.
            </p>
            <p>
                I mostly develop with <a href="https://react.dev/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">ReactJS</a> but
                have dabbled with <a href="https://svelte.dev/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">SvelteKit</a>, <a href="https://vuejs.org/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">VueJS</a>, etc.
                Meta frameworks are the future and I prefer <a href="https://remix.run/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">Remix</a> or <a href="https://reactrouter.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">React Router</a>.
            </p>
            <p>
                In the backend I use <a href="https://nodejs.org/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">NodeJS</a>. 
                Lately I've been using and liking <a href="https://deno.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">Deno</a>. Since most of the things I build are side projects, I look at services where I can host them for free. Most work with serverless functions however the ones that need AI are pushing the limits.
            </p>
            <p>
                This site is built with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">Astro</a> and <a href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">TailwindCSS</a>. 
                I use <a href="https://github.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">GitHub</a> for version control and <a href="https://github.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-primary/80 underline">GitHub Pages</a> for hosting.
            </p>
            <p>
                If you'd like to reach out, I'm moving away from twitter and
                instead you can find me on <a
                    href="https://mastodon.social/@giwan"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-primary hover:text-primary/80 underline"
                    >mastodon.social/@giwan</a>
            </p>
        </div>
    </div>
</PageLayout>