---
import HeaderNav from "./HeaderNav/HeaderNav.astro";
import Logo from "./Header/HeaderLogo";
import { ThemeToggle } from "./ThemeToggle";
import { formatDateWithOptions } from "../utils/helpers.ts";
const currentDate = formatDateWithOptions(new Date().toString());
---

<header class="block w-full">
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1">
            <Logo />
        </div>
        <div class="col-span-1 flex justify-end items-center gap-2 sm:flex-row">
            <ThemeToggle client:load />
            <HeaderNav />
        </div>
        <div class="col-span-2 w-full flex justify-between border-t border-border py-1 font-sans font-bold text-sm text-muted-foreground">
            <p>
                {currentDate} —{" "}
                <span class="hidden sm:inline">
                    Exploring code & technology
                </span>
            </p>
            <p>
                VOL. 23 • ISSUE 42
            </p>
        </div>
    </div>
</header>
