.footer {
    background-color: var(--color-primary);
    color: var(--color-primary-light);
    padding: calc(var(--unit) * 2);
    display: flex;
    justify-content: space-between;
    min-height: calc(var(--unit) * 10);
    /* margin-top: calc(var(--unit) * 2); */
    font-family: var(--font-family-header);
    margin-top: calc(var(--unit) *2);
    position: relative;
    left: calc(var(--unit) * -2);
    width: 100vw;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1em;
}

.footer li {
    display: inline-block;
    margin-right: var(--unit);
}

.footer li:last-child {
    margin-right: 0;
}

.footer a {
    color: var(--color-secondary-light);
    font-size: var(--font-size-small);
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
}

.copyright {
    color: var(--color-secondary-light);
    height: calc(var(--unit) * 2);
    font-size: var(--font-size-small);
    line-height: 1em;
    display: flex;
    place-items: center;
}
