.resultItem {
    list-style: none;
    font-size: var(--font-size-large);
    background-color: var(--color-background-light);
    padding: var(--unit);
    border-radius: var(--unit);
    font-family: var(--font-family-heading);
}

.resultItem:hover {
    box-shadow: 1px 2px 5px var(--color-background-dark);
    cursor: pointer;
}

.resultItemTitle {
    display: block;
    display: flex;
    justify-content: space-between;
}

.resultDate {
    display: flex;
    align-items: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-small);
    padding: var(--unit-sm);
    border-radius: var(--unit-sm);
    opacity: 0.25;
    /* color: var(--color-background-dark); */
    /* background-color: var(--color-background-dark); */
}
