.searchResultsList {
    margin: 0;
    padding: 0;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 1rem;
}

.searchedWord {
    font-style: italic;
    font-weight: 800;
}

.searched {
    font-weight: normal;
    font-family: var(--font-family-header);
    font-size: var(--font-size-small);
    margin-bottom: 1rem;
}
