---
const { title } = Astro.props;
---

<article>
    <header>
        <h1 class="mb-4 font-sans">{title}</h1>
    </header>
    <slot />
</article>

<style is:inline>
    article {
        margin-bottom: var(--unit-3x);
        line-height: 2.5rem;
    }

    header {
        margin: var(--unit-2x) 0;
    }

    article h1,
    article h2,
    article h3 {
        margin: var(--unit-2x) 0;
        display: inline-block;
        line-height: 1.2em;
        font-family: var(--font-family-heading);
        font-weight: 700;
    }

    article h1 {
        font-size: 3rem;
        font-weight: 700;
    }

    article h2 {
        font-size: 2rem;
    }

    article h3 {
        font-size: 1.5rem;
    }

    p {
        color: #d2d7d3;
        word-wrap: break-word;
        line-height: 3rem;
    }

    article table {
        margin: var(--unit-2x) 0;
        text-align: left;
    }

    article table td {
        padding: var(--unit-sm);
        padding-left: 0;
    }
    .astro-code {
        margin: var(--unit-2x) 0;
        padding: var(--unit);
        border-radius: var(--unit-sm);
    }

    article a {
        text-decoration: underline;
    }
</style>
