.repoContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    margin: calc(var(--unit) * 5) 0;
    overflow: hidden;
}

.repoContainer li {
    padding: var(--unit);
    border: 1px solid var(--color-primary-dark);
    min-height: calc(var(--unit) * 10);
    flex: 1 1 0;
    transition: background-color 0.2s;
}

.repoContainer a {
    font-size: var(--font-size-large);
}

.repoContainer a h2 {
    text-transform: capitalize;
    margin-bottom: 0;
}

.repoContainer li:hover {
    background-color: var(--color-primary-dark);
    cursor: pointer;
}

.repoContainer li:hover a {
    color: var(--color-primary-light);
}
